li {
  padding: 5px;
  margin: 5px;
  background: maroon;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.titleArea {
  text-align: center;
  background-color: rgb(207, 178, 60 );
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.notDevoured, .isDevoured {
  color: white;
}

.change-devoured {
  background-color: rgb(207, 178, 60 );
  color: black;
}

.delete-burger {
  background-color: rgb(207, 178, 60 );
  outline: rgb(207, 178, 60 );
  color: black;
}

div {
  text-align: center;
  background-color: maroon;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
